.work {
  display: flex;
  gap: 3rem;
}
.work .s-left {
  flex: 5;
}
.work .w-right {
  flex: 6;
}
.w-btn {
  margin-top: 25px;
  display: inline-block;
}

.w-right {
  position: relative;
}

.w-mainCircle {
  z-index: 2;
  left: 9rem;
  position: relative;
  height: 18rem;
  width: 18rem;
  box-shadow: var(--smboxShadow);
  background: #fff;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}

.w-right .w-mainCircle > * {
  position: absolute;
}

.w-right .w-mainCircle > :nth-child(1) {
  top: 6rem;
  left: 6rem;
}
.w-right .w-mainCircle > :nth-child(2) {
  top: 15rem;
  left: 6rem;
}
.w-right .w-mainCircle > :nth-child(3) {
  top: 6rem;
  left: -3rem;
}
.w-right .w-mainCircle > :nth-child(4) {
  top: -3rem;
  left: 6rem;
}
.w-right .w-mainCircle > :nth-child(5) {
  top: 6rem;
  left: 15rem;
}

.w-secCircle {
  border-radius: 50%;
  height: 5rem;
  width: 5rem;
  position: absolute;
  padding: 10px;
  border: 5px solid #ebebeb;
  background: none;
  box-shadow: var(--smboxShadow);
  background: white;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.w-right .w-mainCircle .w-secCircle img {
  transform: scale(0.6);
  -webkit-transform: scale(0.6);
  -moz-transform: scale(0.6);
  -ms-transform: scale(0.6);
  -o-transform: scale(0.6);
}
.w-backCircle {
  position: absolute;
  height: 13rem;
  width: 13rem;
  border-radius: 50%;
  z-index: 1;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.w-right .blueCircle {
  background: blue;
  top: 0;
  left: 18rem;
}
.w-right .yellowCircle {
  background: yellow;
  left: 18rem;
  top: 8rem;
}
@media screen and (max-width: 480px) {
  .work {
    flex-direction: column;
  }
  .w-right {
    left: -6rem;
    transform: scale(0.8);
    -webkit-transform: scale(0.8);
    -moz-transform: scale(0.8);
    -ms-transform: scale(0.8);
    -o-transform: scale(0.8);
  }
}
